.new-order {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: calc(100vh - 50px);
}

.services {
  height: 100%;
  padding: 10px;
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-height: calc(100vh - 50px);
}

.service-list, .service-items-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 10px;
}

.service-items-list {
  margin-top: 25px;
  position: relative;
  overflow: auto;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

  &::-webkit-scrollbar{
    display: none;
  }
}

.search-bar {
  max-width: 400px;
  width: 100%;
  padding: 15px 10px;
  font-size: 18px;
  border: none;
  border-radius: var(--border-radius);
  margin-bottom: -25px;
}

@media (max-width: 1624px) {
  .service-list {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media (max-width: 1024px) {
  .new-order {
      grid-template-columns: 1fr;
  }

  .services {
    padding-right: 10px;
  }

  .receipts {
    padding-left: 10px;

    &::before {
      display: none;
    }
  }

  .receipt-list {
    flex: 1 0 600px;
  }
}