.new-order {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: calc(100vh - 50px);
}

.services {
  height: 100%;
  padding: 10px;
  padding-right: 35px;
}

.service-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.receipts {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  max-height: 100vh;
  padding: 10px;
  padding-left: 35px;

  &::before {
    top: 0%;
    left: 0;
    border-left: 2px solid var(--secondary);
    transition: 0.5s all;
}

  &::before {
    display: block;
    content: "";
    width: 40px;
    height: 100%;
    position: absolute;
    pointer-events: none;
  }
}

.header {
  height: 70px;
  width: 100%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;

  &::before {
    bottom: 2px;
    left: 1%;
    border-bottom: 2px solid var(--secondary);
    transition: 0.5s all;
}

  &::before {
    display: block;
    content: "";
    width: 98%;
    height: 40px;
    position: absolute;
    pointer-events: none;
  }
}

.receipt-final {
  height: 140px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  background: var(--background);
  position: relative;
  z-index: 10;

  &::before {
    top: 2px;
    left: 1%;
    border-top: 2px solid var(--secondary);
    transition: 0.5s all;
}

  &::before {
    display: block;
    content: "";
    width: 98%;
    height: 40px;
    position: absolute;
    pointer-events: none;
  }
}

.receipt-list {
  flex: 1;
  overflow: auto;
  max-height: 650px; 
  padding: 20px 0;

  &::-webkit-scrollbar{
    display: none;
  }
}

.receipt-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .new-order {
      grid-template-columns: 1fr;
  }

  .services {
    padding-right: 10px;
  }

  .receipts {
    padding-left: 10px;

    &::before {
      display: none;
    }
  }
}