.performance-section {
  width: 100%;
  display: grid;
}

.performance {
  height: 100%;
  padding: 10px;
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-height: calc(100vh - 50px);
}

.performance-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  gap: 25px;
}