#main {
  position: relative;
  background: var(--background);
  min-height: 100vh;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  transition: var(--transition);
  z-index: w;
}

.closed {
  left: 70px !important;
  width: calc(100% - 70px) !important;
}

@media (max-width: 1080px) {
  #main {
    padding: 0px 100px;
  }
}

@media (max-width: 768px) {
  #main {
    padding: 0px 50px;
  }
}

@media (max-width: 480px) {
  #main {
    padding: 0px 25px;
  }
}
