@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Fira+Mono:wght@400;500;700&family=Inter:wght@200;600;800&family=Jost:wght@400;700&family=Lato:wght@400;700&family=Mohave:wght@400;500;600&family=Oswald:wght@400;500;700&family=Shadows+Into+Light&family=Ubuntu:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--background);
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --border-radius: 4px;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

  --text: #fbfdfe;
  --background: #020508;
  --primary: #1b3b55;
  --secondary: #0b1823;
  --accent: #3c83be;

  --navy-shadow: rgba(2,12,27,0.7);
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none;
}

li {
  list-style: none;
}

button:focus {
  outline: none;
}

body, #root {
  min-width: 320px;
  min-height: 100vh;
}