.service-item {
  background: var(--secondary);
  height: 100px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: scale var(--transition);
  animation: start 0.1s ease;
}

.service {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;

  > p {
    text-align: center;
    width: 100%;
    color: #000;
    font-weight: 600;
  }
}

.cleaning {
  background: #5e9af3;
}

.pressOnly {
  background: #9beb76;
}

.household {
  background: #fffd79;
}

.alterations {
  background: #134e72;
}

@keyframes start {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}