.outer {
  width: 375px;
  max-height: 500px;
  background: white;
  border-radius: var(--border-radius);
  border: 5px solid var(--primary);
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  overflow: auto;
}

.close-btn {
  align-self: end;
  width: 25px;
  height: 25px;
  font-size: 32px;
  line-height: 25px;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-buttons {
  display: flex;
  width: 400px;
  flex-direction: row;
  gap: 10px;
  padding: 0 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  > button {
    flex: 1;
    padding: 10px 20px;
    background: var(--primary);
    font-size: 18px;
    color: var(--text);
    border: none;
    cursor: pointer;

    &:disabled {
      background: #070f15;
      cursor: no-drop;
    }
  }
}

.receipt {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
  font-family: 'Helvetica', 'Arial', sans-serif;

  p {
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    // letter-spacing: 2px;
    // transform: scaleY(1.4);
  }
}



.heading {
  margin-bottom: 10px;
  display: flex;
  // gap: 10px;
  flex-direction: column;
}

.receipt-info {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.item-receipt {
  margin-top: 0 !important;
}

.ticket-items {
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
}

.ticket-item {
  width: 100%;

  > ul > li {
    color: black;
    padding-left: 20px;
    text-transform: capitalize;
  }
}

.ticket-item-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    text-align: left;
  }
}

.total-pieces {
  text-align: center;
  margin: 10px 0;
}

.note {
  font-size: 12px !important;
  margin: 15px -25px;
  line-height: 1.4;
}

.names {
  margin: 5px 0;

  p {
    text-align: right;
    font-size: 20px;
  }
}

.break {
  page-break-after: always;
}

.ticket-date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  > span {
    margin-right: auto;
  }
}

.ticket-no {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // margin-bottom: 10px;
  
  > P {
    font-size: 22px !important;
    height: 100%;
    // margin: 5px 0;
    text-align: left;
  }
}

@media print {

  .receipt {
    margin: 0 auto;
  }
}

.xl {
  font-size: 20px !important;
}

.title {
  word-spacing: 10px;
  font-size: 16px !important;
}

.owner {
  font-size: 16px !important;
  word-spacing: 10PX;
}

.info {
  font-size: 16px !important;
  letter-spacing: 2px;
  // margin-top: 10px;
}

.num {
  font-size: 17px !important;
}

.item-receipt {
  .total-pieces {
    margin: 0 !important;
    margin-top: 6px !important;
  }

  .ticket-no {
    margin-bottom: 0 !important;
  }

  .ticket-items {
    padding: 0 25px !important;
  }
}